<?xml version="1.0" ?>
<robot name="OS1_BluffBody" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="OS1_BluffBody_silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="OS1_BluffBody_color0">
  <color rgba="0.878 0.875 0.859 1.0"/>
</material>

<material name="OS1_BluffBody_color1">
  <color rgba="0.627 0.627 0.627 1.0"/>
</material>

<material name="OS1_BluffBody_color2">
  <color rgba="0.867 0.867 0.89 1.0"/>
</material>

<material name="OS1_BluffBody_color3">
  <color rgba="1.0 0.0 0.0 1.0"/>
</material>

<material name="OS1_BluffBody_color4">
  <color rgba="0.792 0.82 0.933 1.0"/>
</material>

<material name="OS1_BluffBody_color5">
  <color rgba="0.898 0.918 0.929 1.0"/>
</material>

<material name="OS1_BluffBody_color6">
  <color rgba="0.753 0.753 0.753 1.0"/>
</material>

</robot>
