<?xml version="1.0" ?>
<robot name="FMXXV_BluffBody" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="FMXXV_BluffBody_silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="FMXXV_BluffBody_color0">
  <color rgba="0.878 0.875 0.859 1.0"/>
</material>

<material name="FMXXV_BluffBody_color1">
  <color rgba="0.627 0.627 0.627 1.0"/>
</material>

</robot>
